*{
    padding: 0;
    margin: 0;
    touch-action: manipulation;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Ibarra Real Nova', serif;
    touch-action: none;
}

button{
    font-family: 'Ibarra Real Nova', serif;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

input{
    padding: 5px;
    font-family: 'Ibarra Real Nova', serif;
}

.game-screen{
    width: 80vw;
    height: 80vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    text-align: center;
    background-image: url('./assets/pics/background.jpg');
    background-size: 100% 100%;
}

.max-health{
    position: relative;
    width: 80vw;
    height: 25px;
    border: 1px solid black;
    background-color: red;
    margin: 10px auto;
}

.enemy{
    height: 50%
}

.portrait{
    height: 100%;
    width: 100%;
}

.portrait img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.alert-screen{
    padding: 1em;
    background-color: rgba(240, 240, 240, 0.881);
    border-radius: 15px;
}

.max-health{
    text-align: left;
}

.health{
    position: relative;
    display: inline-block;
    height: 25px;
    background-color: greenyellow;
    transition: width 1s;
}

.healthStr{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.game-options > *{
    margin: 5px;
}

.shield{
    position: absolute;
    left: 100%;
    background-color: gray;
    height: 25px;
}

.portrait{
    height: 100%;
    width: 100%;
}

.shop-screen{
    width: 80vw;
    height: 80vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
    align-items: center;
    padding: 2em;
    background-image: url('https://us.123rf.com/450wm/cougarsan/cougarsan1512/cougarsan151200180/49826131-a4-size-cafe-menu-blackboard-background-with-retro-ribbon-and-border.jpg?ver=6');
    background-size: 100% 100%;
    color: white;
}

.shop-small{
    font-size: 2em;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shop > *{
    display: flex;
    gap: 1em;
    margin: 5px;
}

.shop button{
    padding: 5px;
}

.hit-record {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hit-record > *{
    margin: 3px;
}

.crit-record{
    color: yellow
}

.miss-record{
    color: red
}

.shield-record{
    color: blue
}


button[data-on-cooldown]{
    position: relative;
    background-color: rgb(101, 108, 110);
}

button[data-on-cooldown]:hover::before{
    position: absolute;
    content: attr(data-on-cooldown);
    bottom: 120%;
    background-color: white;
    border-radius: 10px;
    padding: .3em;
    width: 100px;
    right: -100%;
}

.shield-game{
    position: fixed;
    z-index: 999;
    bottom: 400px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.shield-game:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


@media screen and (max-width: 425px) {
    .shop-small{
        font-size: 1em;
        gap: 2em;
    }
    
    .shop-screen{
        background-image: url('https://img.pikbest.com/backgrounds/20190826/coffee-menu-wood-grain-background_2856983.jpg!bw340');
        background-size: contain;
        color: white;
        padding: 5px;
        justify-content: flex-start;
        gap: 10px;
        height: fit-content;
    }

    .shop-screen h1 {
        margin: 15px 0;
    }

    .click{
        margin: 5px;
        font-size: 1.5em;
        padding: 5px;
    }

}

@media screen and (max-width: 767px) and (min-width: 426px) {
    .shop-small{
        font-size: 1em;
        gap: 2em;
    }
    
    .shop-screen h1 {
        margin: 15px 0;
    }

    .shop{
        background-image: url('https://us.123rf.com/450wm/cougarsan/cougarsan1512/cougarsan151200180/49826131-a4-size-cafe-menu-blackboard-background-with-retro-ribbon-and-border.jpg?ver=6');
        background-size: contain;
        color: white;
        padding: 25px;
    }

    .next-battle{
        margin: 0 auto;
    }
    
    .player-stats{
        background-image: url('https://img.pikbest.com/backgrounds/20190826/coffee-menu-wood-grain-background_2856983.jpg!bw340');
        background-size: contain;
        color: white;
        padding: 20px;
        height: fit-content;
    }
}